# Azure subscription vars
subscription_id = ""
client_id = ""
client_secret = ""
tenant_id = ""

# Resource Group/Location
location = "West Europe"
resource_group = "udacity-az-devops-3-local"
application_type = "udacity-az-devops-3-pmu-local"

# Network
virtual_network_name = "vnet"
address_space = ["10.5.0.0/16"]
address_prefix_test = "10.5.1.0/24"

# VM
vm_size = "Standard_B1s"
